#demo,#demo1{
    text-align: end;
    font-size: 40px;
    color:rgb(7, 7, 3);
    height: 60px;
    width: 440px;
    border-radius: 20px;
    border:none;
    background-color: rgb(237, 243, 243);
}
#first{
    background-color: aqua;
    height:850px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#second{
    background-color: black;
    width: 440px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
}
.one ,.two{
    height:90px;
    width:90px;
    border-radius: 50%;
    border:none;
    background-color: rgb(46, 45, 45);
    color: white;
    font-size: 40px;
}
.one:hover{
    background-color: rgb(107, 103, 103);
    border-radius: 5px;
    transition: .5s;
}
.two:hover{
    background-color: rgb(107, 103, 103);
    border-radius: 5px;
    transition: .5s;
}
#third{
    height: 500px;
    width: 440px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

#tigerdiv{
    width:100%;
    height: 500px;
    align-items: center;
    display: flex;

    justify-content: center;
}